 .neumorphism {
     padding: 15px 10px;
     border: none;
     font-size: 12px;
     font-weight: bold;
     text-transform: uppercase;
     letter-spacing: 2px;
     box-shadow: -7px -7px 20px 0 rgba(51, 49, 49, 0.4),
         7px 7px 20px 0 rgba(0, 0, 0, 0.2);
     color: rgb(187, 185, 185);
 }