.filterBar{
    box-sizing: border-box;
    backdrop-filter: blur(30px);
    text-transform: uppercase;
    overflow-y: initial !important;
    background-color: rgba(74, 9, 112, 0.035);
}

.container{
    display: flex;
    overflow-y: auto;
    overflow-x: hidden;
    max-height: 262px;
}

.neumorphism {
    padding: 15px 10px;
    border: none;
    font-size: 12px;
    letter-spacing: 2px;
    box-shadow: -7px -7px 20px 0 rgba(51, 49, 49, 0.4),7px 7px 20px 0 rgba(0, 0, 0, 0.8);
    color: rgb(187, 185, 185);
    padding-bottom: 67px;
}

.filter_row{
    padding-top: 8px;
}
.filter_row_wrapper{
    display: block;
    padding: 1%;
}
.filter_button{
    margin-left:1.5%;
    margin-top: 1.5%;
    background: transparent;
    font-size: 15px;
    outline: none;
    color: #ffffff;
    text-transform: capitalize;
    border-radius: 10px;
    border: none ;
    padding: 3px 10px;
    text-align: center;
}

.filter_button_active{
    border: none;
    background-color:#370b61 ;
}
.left_filter_column{
    width: 50%;
    text-align: center;
}

.right_filter_column{
    padding-left: 50px;
    width: 50%;
}
.genre{
    padding : 5px 6px;
    margin-top: 15px;
}

.filter_submit_button{
    position: absolute;
    right: 30px;
    width: 127px;
    height: 36px;
    font-weight: bold;
    border-radius: 5px;
}

@media(max-width:1240px){
    .container{
        flex-direction: column;
    }
    .left_filter_column{
        width: 100%;
    }
    .right_filter_column{
        padding: 0;
        width: 100%;
    }
    .container{
        align-items: center;
        text-align: center;
    }
    .filterBar{
        display: flex;
        justify-content: center;
        align-items: flex-end;
    }
    .filter_submit_button{
        width: 90%;
        transform: translateY(50px);
    }
}