.filterBar{
    margin-top: 117px;
    margin-left: 5%;
    width: 77%;
    backdrop-filter: blur(15px);
    text-transform: uppercase;
    overflow-y: initial !important;
}

.container{
    height: 250px;
    padding: 1%;
    padding-top: 0%;
    margin-top: -7px;
    overflow-y: auto;
}

.neumorphism {
    padding: 15px 10px;
    border: none;
    font-size: 12px;
    letter-spacing: 2px;
    box-shadow: -7px -7px 20px 0 rgba(51, 49, 49, 0.4),7px 7px 20px 0 rgba(0, 0, 0, 0.8);
    color: rgb(187, 185, 185);
}
.make_flex{
    display: flex;
}

.filter_row{
    padding-top: 8px;
}
.filter_row_wrapper{
    display: block;
    padding: 1%;
}
.filter_button{
    margin-left:1.5%;
    margin-top: 1.5%;
    background: transparent;
    font-size: 15px;
    outline: none;
    color: #ffffff;
    text-transform: capitalize;
    border-radius: 10px;
    border: none ;
    padding: 3px 10px;
    text-align: center;
}

.filter_button_active{
    border: none;
    background-color:#4f108a ;
}
.left_filter_column{
    width: 500px;
    text-align: center;
}

.right_filter_column{
    padding-left: 50px;
    width: 50%;
}
.genre{
    padding : 5px 6px;
    margin-top: 15px;
}

.filter_submit_button{
    margin-left: 83%;
    width: 13%;
    height: 4vh;
    border-radius: 3%;
}


/*      FOR RESPONSIVE          */

@media(max-width:990px){
    .filterBar{
        width: 100%;
        margin-left: -9%;
    }
}
@media(max-width:757px){
    .filterBar{
        width: 115%;
        margin-left: -20%;
    }
}
@media(max-width:757px){
    .filterBar{
        width: 115%;
        margin-left: -20%;
    }
}
@media(max-width:656px){
    .filterBar{
        width: 120%;
        margin-left: -22%;
    }
    .right_filter_column{
        width: 100%;
    }
}
@media(max-width:500px){
    .container{
        display: block;
    }
    .left_filter_column{
        width: 90%;
    }
    .right_filter_column{
        margin-top: 3%;
        text-align: center;
        padding-left: 0;
    }
    .filter_submit_button{
        margin-left: 0;
        width: 100%;
        height: 5vh;
        max-height: 5vh;
        font-weight: bold;
    }
    .filterBar{
        padding-bottom: 0;
    }
}
@media(max-width:454px){
    .filterBar{
        margin-left: -25%;
    }
}
@media(max-width:317px){
    .filterBar{
        margin-left: -28%;
    }
}