.player-wrapper{
    height: 100vh;
    background-color: black;
    animation: fadeInAnimation ease 4s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.player-wrapper:focus{
    outline-color: black;
}

.react-player{
    position:absolute;
    left: 0px;
    top: 0px;
    z-index: -1;
}

.react-player:focus{
    outline-color: black;
}

.back-btn{
    position: absolute;
    top: 1%;
    left: 2%;
    border-radius: 25px;
    transform: scale(1.5,1.5);
}

.close-btn{
    position: absolute;
    top: 1%;
    right: 2%;
    border-radius: 25px;
    transform: scale(1.5, 1.5);
}

.player-header{
    z-index: 3;
    display:block;
}

.player-header:hover{
    display: block;
}
