.player-wrapper{
    height: 100vh;
    background-color: black;
    animation: fadeInAnimation ease 4s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.player-wrapper:focus{
    outline-color: black;
}

.react-player{
    position:absolute;
    left: 0px;
    top: 0px;
    z-index: -1;
}

.react-player:focus{
    outline-color: black;
}

.btn{
    position: absolute;
    border-radius: 25px;
    background-color: white;
    transform: scale(1.5, 1.5);
}

.btn:hover{
    cursor: pointer;
}

.back-btn{  
    top: 1%;
    left: 2%;
}

.close-btn{
    top: 1%;
    right: 2%;
}

.player-header{
    padding-top:1%;
    z-index: 3;
    display:relative;
    text-shadow: 0 0 3px #ffffff, 0 0 5px #ffffff;
    
}


.player-header:hover{
    display: block;
}


.comments{
    background-color: brown;
}