.player-wrapper{
    height: 100vh;
    background-color: black;
    animation: fadeInAnimation ease 4s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.player-wrapper:focus{
    outline-color: black;
}

.react-player{
    box-shadow: none;
}

.react-player:focus{
    outline-color: black;
}
