.pricing{
  padding-top: 80px;
  color: white;
  min-height: calc(100vh - 80px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.pricing h1{
  margin-top: 50px;
  text-align: center;
  margin-bottom: 50px;
}

.card_container{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  height: 100%;
  gap: 2em;
  margin-top: 50px;
  padding: 0 50px ;
}

.card{
  height: fit-content;
  width: fit-content;
  color:white;
  background-color: rgba(20, 20, 20, 0.685);
  text-align: center;
  transition: 0.3s transform;
  border-radius: 16px;
  cursor: pointer
}


.current_plan{
  box-shadow: 1px 2px 19px 9px rgba(255,218,8,0.85);
  -webkit-box-shadow: 0px 0px 14px 3px rgba(255,218,8,0.85);
  -moz-box-shadow: 1px 2px 19px 9px rgba(255,218,8,0.85);
}

.card:hover{
  transform: scale(1.04);
}

table{
  border-collapse: collapse;
}
.card_field,th{
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 10px 60px;
  border-bottom: 1px solid rgb(71, 71, 71);
  border-radius: 6px;
  gap: 5px;  
}

.card_field:last-child{
  border-bottom: none;
  padding-bottom: 30px;
}

.card_field h5{
  color: rgb(168, 161, 161);
  font-size: 14px;
}
.card_field h4{
  font-size: 16px;
}
.column_heading{
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 25px 60px;
  background: #641ba8a8;
  background-image: linear-gradient(to bottom, #641ba8b6, #3a0968a4);
}
.column_heading h2{
  font-weight:700;
  font-size: 24px;
}


.buy_btn{
  clear: both;
  margin: 40px auto;
  width: 50%;
  padding: 15px 56px;
  background-color: rebeccapurple;
  border-radius: 8px;
  color: white;
  font-weight: bold;
  cursor: pointer;
  font-size: 25px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  
}

.buy_btn svg{
  padding-left: 5px;
}

.buy_btn:active{
  position: relative;
  top: 1px;
}
