.banner {
    color: white;
    object-fit: contain;
    height: 550px;
    -webkit-box-shadow: inset 0px -140px 46px -33px rgba(27,27,27,1);
    -moz-box-shadow: inset 0px -140px 46px -33px rgba(27,27,27,1);
    box-shadow: inset 0px -150px 46px -33px rgba(27,27,27,1);
    cursor: pointer;
}

.banner_contents {
    margin-left: 30px;
    padding-top: 35vh;
    height: 190px;
    
}

.banner_title {
    float: right;
    padding-right: 30px;
    font-size: 3rem;
    font-weight: 800;
    padding-top: 140px;
    

}
.carousal{
    
}

.banner_description {
    width: 45rem;
    line-height: 1.3;
    padding-top: 1rem;
    font-size: 0.8rem;
    max-width: 360px;
    height: 80px;
}

.banner_button{
    cursor: pointer;
    color: #fff;
    outline: none;
    border: none;
    font-weight: 700;
    border-radius: 0.2vm;
    padding-left: 2rem;
    padding-right: 2rem;
    margin-right: 1rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    background-color: rgba(51,51,51,0.5);
    
}

.banner_button:hover{
    color: #000;
    background-color: #e6e6e6;
    transition: all 02.s;
}

.banner_fadeBottom {
    height:5.8rem;
    bottom: 0px;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(180deg,
        transparent,
        rgba(37, 37, 37, 0.21),
        #111);
}
