.footer{
    background: #641ba8cc;  
    background-image: -webkit-linear-gradient(top, #641ba8cc, #3a0968cc);
    background-image: -moz-linear-gradient(top, #641ba8cc, #3a0968cc);
    background-image: -ms-linear-gradient(top, #641ba8cc, #3a0968cc);
    background-image: -o-linear-gradient(top, #641ba8cc, #3a0968cc);
    background-image: linear-gradient(to bottom, #641ba8cc, #3a0968cc);
    color: white;
    font-weight: normal;
    opacity: 1;
    height: auto;
    position: absolute;
    width: 100%;
    text-align: center;
}

table{
    color: white;
    font-size: 10px;
}

.content{
    padding:20px;
}
.footer_table div{
    padding: 1%;
    margin-right: 19px;
}
.footer_table div p{
    display: block;
    width: 100%;
    padding: 1%;
    font-size: 10px;
    margin-top: 8px;
}

.footer_table{
    display: flex;
    width: 60%;
    margin-left: 37%;
    padding: 26px 0%;
    cursor: pointer;
}
.footer_logo_div{
    width: 60%; 
}

.footer_logo{
    cursor: pointer;
    color: white;
    float: right;
    width: 180px;
}

@media(max-width:480px){
    .footer{
        position: absolute;
        width: 100%;
        text-align: center;
    }
    .footer_logo{
        display: none;
    }
}

