.row{
    position: relative;
    margin-bottom: 6px;
    margin-left: 10px;
    color:white;
    width: 100%;
    z-index: 3;
    transform: translateY(-105px);
}

.row:hover{
    z-index: 0;
}

.row_posters{
    display: flex;
    overflow-y: hidden;
    overflow-x: scroll;
    padding: 20px;
    left:0;
    scroll-behavior: smooth;
    z-index: inherit;
    height: 300px;
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
    gap: -100px;
}

.card_div{
    min-width: 210px;
    height: 100%;
    position: relative;
    margin-right: 18px;
    transition: 1s;
}

.card_div:hover .see_more{
    transform: translateX(-50%) scale(1.6,1);
    -webkit-filter: drop-shadow( 3px 3px 2px rgb(5, 5, 5));
    filter: drop-shadow( 3px 3px 2px rgb(5, 5, 5));
}


.see_more{
    position: absolute;
    bottom: 4px;
    left: 48%;
    transform: translateX(-68%) scale(0);
    font-size: 31px;
    transition: 0.3s;
    z-index: 99;
    cursor: pointer;
}

.row_posters::-webkit-scrollbar {
    display: none;
}

.row_poster{
    display: block;
    width: 100%;
    height: 100%;
    transition: transform 200ms;
    cursor: pointer;
    background-color: rgb(29, 29, 29);
    padding: 0px;
    z-index: inherit;
    border-radius: 10px;
    transition: transform 0.5s,border-radius 0.5s;
    box-shadow: -2px -2px 7px rgba(255, 255, 255, 0.308),
                 7px  7px 15px rgba(0, 0, 0, 0.733);
    
}
.box-shadow{
    position: absolute;
    width: 100%;
    background: rgba(0, 0, 0, 0.795);
    z-index: 98;
    height: 100%;
    transform: scale(0);
    border-radius: 10px;
}

.card_div_tilt{
    transition: 1s;
    margin-left: 20px ;
    transform: scale(1.09);
    margin-right: 20px ;
}

.play_icon{
    position: absolute;
    z-index: 99;
    left: 50%;
    top: 50%;
    font-size: 70px;
    transform: translate(-50%, -50%) scale(0);
    transition: 0.3s;
    cursor: pointer;
    -webkit-filter: drop-shadow( 3px 3px 2px rgb(5, 5, 5));
    filter: drop-shadow( 3px 3px 2px rgb(5, 5, 5));
}

.card_div:hover .play_icon{
    transform: translate(-50%, -50%) scale(1.08);
}

.card_div:hover .row_poster{
    filter: blur(1.02px);
}

.card_div:hover .box-shadow{
    transform: scale(1);
}

.card_div:hover .show_name{
    opacity: 1;
}

.show_name{
    box-sizing: border-box;
    position: absolute;
    top: 5%;
    text-align: center;
    z-index: 99;
    width: 100%;
    padding: 0 10%;
    opacity: 0;
    transition: 0.3s;
    font-size: 22px;
    font-weight: bold;
    text-transform: capitalize;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}


.slider{
    position: absolute;
    z-index: 2;
    color: transparent;
    background-color: transparent;
    height: 82%;
    font-size: 60px;
    transition: 0.3s;
    color: white;
    background-color: rgba(17, 17, 17, 0.651);
    display: flex;
    align-items: center;
    opacity: 0;
    z-index: 99;
}

.cards:hover > .slider{
    opacity: 1;
}

.slider_front{
    right: 0;
}

.slider_back{
    left: 0;
}


.slider:hover{
    background-color: rgba(0, 0, 0,0.8);
    cursor: pointer;
}

.trailer_window{
    color:white;
    overflow: hidden;
    object-fit: contain;
    padding: 2%;
    padding-right: 100px;
    box-sizing: border-box;
    margin-bottom: 100px;
    margin-top: -100px;
}

.player{
    float: left;
    border: 5px solid rgb(71, 70, 70); 
    background-color: rgb(15, 15, 15)
}


.info{
    position: absolute;
    margin-left: 700px;
    width: 774px;
}


.neumorphism {
    padding: 3px 0px;
    border: none;
    font-size: 8px;
    box-shadow: -7px -7px 20px 0 rgba(51, 49, 49, 0.4),
        7px 7px 20px 0 rgba(0, 0, 0, 0.2);
    color: rgb(187, 185, 185);
}

.trailer_name{
    padding-top: 10px;
    font-size: 80px;
    font-size: 2.8vw;
    text-align: center;
    font-weight: bolder;
    z-index: 1;
}

.info_table{
    font-size: 15px;
    float: left;
    margin-left: 1px;
    font-weight: bold;
    border-spacing: 10px;
    border-collapse: separate;
}

.trailer_row{
    height: 20px;
}

.rating{
    border-width: 2px;
    width: 40px;
    height: 25px;
}

.rating_1{
    color: #fd2828;
}

.rating_2{
    color: rgb(255, 203, 32);
}

.rating_3{
    color: #42a813
}

.rating_4 {
    color: #42a813
}

.description{
    font-weight: normal;
}

.season{
    font-weight: 1
}

.trailer_btn {
    position: relative;
    margin-left: 50px;
    margin-top: 30px;
    margin-right: 30px;
    background-color: transparent;
    border-radius: 6px;
    border: 1px solid #dcdcdc;
    display: inline-block;
    cursor: pointer;
    color: #e9e9e9;
    font-family: Arial;
    font-size: 10px;
    padding: 6px 24px;
    text-decoration: none;
    outline: none;
    transform: scale(1.5, 1.5);
    
}

.trailer_btn:hover {
    background-color: black;
}

.trailer_btn:active {
    top: 1px;
}

.close-btn{
    cursor: pointer;
    float: right;
    position: absolute;
    right: 2%;
    height: 20px;
    width: auto;
    z-index: 5;
}

.close-btn:hover{
    cursor: pointer;
}
td{
    vertical-align: initial;
}

@media (max-width:1540px){
    .player{
        z-index: 100;
    }
    .info{
        width: 45%;
    }
}
@media (max-width:1400px) {
    .info{
        width: 40%;  
    }
}


@media (max-width:1240px) {
    .info{
        position: relative;
        margin-left: 0%;
        width: 100%;
    }
    .trailer_name{
        padding-top: 496px;
    }
    .player{
        width: 100% !important;
        height: 468px !important;
    } 
}

@media (max-width:948px){
    .player{
        height: 400px !important;
    }
    .info{
        width: 110%;
    } 
    .trailer_name{
        padding-top: 425px;
    }
}

@media(max-width : 800px){
    .slider{
        display: none;
    }
    .see_more{
        display: none;
    }
    .play_icon{
        display: none;
    }
    .box-shadow{
        display: none;
    }
    .card_div:hover .row_poster{
        filter: blur(0px);
    }
    .row_posters{
        height: 180px;
    }
    .card_div{
        min-width: 126px;
    }
}

@media (max-width:731px){
    .player{
        height: 350px !important;
    }
    .trailer_name{
        padding-top: 380px;
    }
    .info{
        width: 115%;
    } 
}
@media (max-width:608px){
    .player{
        height: 300px !important;
    }
    .trailer_name{
        padding-top: 325px;
    }
}
@media (max-width:541px){
    .player{
        height: 250px !important;
    }
    .trailer_name{
        padding-top: 280px;
    }
    .info{
        width: 130%;
    } 
}

@media (max-width:514px){
    .player{
        height: 200px !important;
    }
    .info_table{
        display: none;
    }
    .trailer_name{
        display: none;
    }
    .trailer_btn{
        width: auto;
    }
}

@media(max-width:320px){
    .row_posters{
        height: 160px;
    }
    .card_div{
        min-width: 112px;
    }
}

