.characters {
    min-height: 500px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    min-height: 70vh;
}

.character {
    width: 289px;
    background-color: radial-gradient(ellipse, #1e1e1f 10%, #090a0f 100%);
    overflow-x: hidden;
}

.wrap_description {
    overflow: auto;
    height: 385px;
    border-radius: 16px;
    border: 2px solid #ffff;
    overflow: hidden;
}

.wrap_description:hover .description {
    transform: translateY(-390px);
}

.description {
    padding-top: 20px;
    color: white;
    background: rgba(17, 16, 16, 0.6);
    backdrop-filter: blur(8px);
    padding: 6%;
    text-align: center;
    transition: 1s;
    height: 91.5%;
    overflow: auto;
    border-radius: 17px;
    font-size: 14px;
}

.description::-webkit-scrollbar-track {
    margin-top: 10px;
    margin-bottom: 17px;
}


.neumorphism {
    padding: 15px 10px;
    border: none;
    box-shadow: -7px -7px 20px 0 rgba(51, 49, 49, 0.4),
        7px 7px 20px 0 rgba(0, 0, 0, 0.2);
    color: rgb(187, 185, 185);
}

.character_description {
    margin-top: 8%;
}

.character_image {
    max-width: 285px;
    min-width: 285px;
    min-height: 386px;
    max-height: 386px;
    object-fit: cover;
    background-color: rgb(22, 22, 22);
}

.name {
    text-align: center;
    color: #f0b922;
    font-weight: bold;
    margin-top: 10px;
}