.info{
    z-index:1;
}

.poster{
    position:relative;
    float:left;
    max-width: 100px;
    min-width: 100px;
    height: 150px;
    transform: translate(25%,-25%);
    border: 5px solid #ffff;
    background-color: rgb(51, 49, 49);
}

.name{
    word-wrap: break-word;
    width: auto;
    padding-top: 25px;
    float:left;
    font-weight: bolder;
    font-size: 40px;
    color: #ffff;
}

.age{
    float:left;
    bottom:0;
    right:0px;
    margin-left: 20px;
    min-width: 15px;
    margin-top: 36px;
    padding: 15px 10px;
    border: none;
    border-radius: 50%;
    font-size: 15px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 2px;
    box-shadow: -7px -7px 20px 0 rgba(51, 49, 49, 0.4),
    7px 7px 20px 0 rgba(0, 0, 0, 0.2);
    color: rgb(187, 185, 185);
    cursor: default;
}

.description{
    position:relative;
    float:left;
    --transform: translateX(25%);
    padding-left: 30px;
    color: #ffff;
    font-weight: bold;
    min-height: 250px;
    font-size: 14px;

}

.genre{
    width:100%;
}

.genre_card{
    float:left;
    margin-right: 5px;
    min-width: 50px;
    margin-top: 20px;
    padding: 15px 10px;
    border: none;
    border-radius: 25px;
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 2px;
    box-shadow: -7px -7px 20px 0 rgba(51, 49, 49, 0.4),
    7px 7px 20px 0 rgba(0, 0, 0, 0.2);
    color: rgb(187, 185, 185);
    cursor: default;
}

.break{
    clear:both;
}

.synopsis{
    word-wrap: break-word;
    font-weight: normal;
    max-width: 90%;
    padding-top:20px;
    padding-bottom: 20px;
}

.see_more{
    font-weight: bold;
    color: #f0b922;
    cursor: pointer;
}

.select{
    margin-top: 18px;
    margin-left: 44px;
    width: 142px;
    padding: 2%;
    background-color: rgba(255,255,255,0);
    border: none;
    outline: none;
    color: #ffff;
}

.neumorphism {
    padding: 15px 10px;
    border: none;
    font-size: 12px;
    letter-spacing: 2px;
    box-shadow: -7px -7px 20px 0 rgba(51, 49, 49, 0.4),
        7px 7px 20px 0 rgba(0, 0, 0, 0.2);
    color: rgb(187, 185, 185);
}

.option{
    color: #ffff;
    padding: 3px 0px;
}

.make_flex{
    display: flex;
}

@media (min-width:481px) {
    /* portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. */
}

@media (min-width:641px) {
    /* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */
}

@media (min-width:961px) {
    /* tablet, landscape iPad, lo-res laptops ands desktops */
}

@media (min-width:1025px) {
    /* big landscape tablets, laptops, and desktops */
    .info {
        width: 100%;
    }
    .poster {
        max-width: 300px;
        min-width: 300px;
        height: 300px;
    }

    .description {
        transform: translateX(25%);
    }

    .name {
        font-size: 50px;

    }
    .wrapper {
      max-width: 70%;
    }

    .synopsis {
        width: 800px;
    }
}

@media (min-width:1281px) {
    /* hi-res laptops and desktops */
    .info{
        width: 100%;
    }
    .poster {
        max-width: 200px;
        min-width: 200px;
        height: 300px;
    }

    .description{
        transform: translateX(25%);
    }

    .name {
        font-size: 50px;

    }

    .synopsis {
        width: 800px;
    }
    
}
