.body{
    display: flex;
    height: auto;
}

.info,
.poster,
.group_change{
    margin-right: auto;
    box-sizing: border-box;
}

.poster{
    background-color: rgb(43, 42, 42);
    min-width: 200px;
    max-width: 244px;
    max-height: 348px;
    min-height: 250px;
    transform: translate(25%,-25%);
    border-radius: 16px;
    border: 3px solid white;
}

.poster_img{
    width: 100%;
    height: 100%;
}

.info{
    margin-left: 8%;
    width: 55%;
}

.show_title{
    font-weight: bolder;
    padding-top: 5%;
    font-size: 50px;
    color: white;
    word-break: normal;
}

.show_title::after{
    content: ""attr(name)"+";
    display: inline-block;
    font-size: 15px;
    margin-left: 20px;
    padding: 15px 12px;
    box-shadow: -2px -2px 10px #333235, 4px 3px 10px #0d0c0f;
    color: rgb(187, 185, 185);
    border-radius: 50%;
    transform: translate(10px , -10px);
}

.genre{
    margin-top: 20px;
    line-break: normal;
    width:100%;
}

.genre_card{
    display: inline-block;
    margin-left: 13px;
    margin-top: 15px;
    padding: 15px 10px;
    min-width: 50px;
    width: auto;
    border: none;
    border-radius: 25px;
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 2px;
    box-shadow: -2px -2px 10px #333235, 2px 2px 15px #0d0c0f;
    color: rgb(187, 185, 185);
    cursor: default;
}


.synopsis{
    word-wrap: break-word;
    font-weight: normal;
    max-width: 100%;
    padding-top:20px;
    padding-bottom: 20px;
    font-size: 14px;
    word-spacing: 0.1em;
    color: rgba(255, 255, 255, 0.74);
}

.see_more{
    font-weight: bold;
    color: #f0b922;
    cursor: pointer;
}

.group_change{
    padding-left: 5%;
    padding-top: 2%;
    width: 33%;
    margin-right: auto;
}

.select{
    width: 17%;
    padding: 15px 10px;
    outline: none;
    box-shadow: -2px -2px 10px #333235c2, 4px 3px 10px black;
    color: rgb(187, 185, 185);
    position: absolute;
    border: none;
    font-size: 12px;
    letter-spacing: 2px;
    box-sizing: border-box;
    background-color: rgba(255,255,255,0);
}

.option{
    color: #ffff;
    padding: 3px 0px;
    box-sizing: border-box;
}


.play_btn,
.watch_list_btn{
    background-color: rgb(80, 14, 141);
    text-align: center;
    color: white;
    font-size: 15px;
    font-weight: bolder;
    text-transform: uppercase;
    border-radius: 20px;
    cursor: pointer;
    padding: 15px 10px;
    border: none;
    letter-spacing: 2px;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.play_btn:active,
.watch_list_btn:active{
    position: relative;
    top: 1px;
}

.play_btn{
    margin-top: 150px;
}

.watch_list_btn{
    margin-top: 20px;
}

.plus{
    margin-right: 7px;
    font-size: 19px;
}


@media(max-width : 1160px){

    .body{
        flex-direction: column;
    }

    .poster{
        margin-right: auto;
        margin-left: auto;
        max-width: 200px;
        max-height: 285px;
        transform: translate(-20px, -25%);
    }

    .poster_img{
        max-width: 200px;
    }
    
    .info{
        margin-top: -40px;
        text-align: center;
        margin-right: auto;
        width: 80%;
    }

    .show_title{
        font-size: 35px;
        padding-top: 0;
    }

    
    .group_change{
        width: 80%;
        margin-left: 3%;
        margin-bottom: 30px;
    }

    .btn_wrapper{
        display: flex;
    }

    .play_btn,
    .watch_list_btn{
        margin-top: 0px;
        margin-left: 20px ;
        font-size: 12px;
    }
    
    .select{
        width: 30%;
        position: relative;
        float: left;
    }

}

@media(max-width : 570px){
    .group_change{
        display: flex;
        flex-direction: column;
    }
    .btn_wrapper{
        margin-top: 40px;
        margin-left: -4%;
    }
    .select{
        width: 50%;
    }
}

