.reviews {
    min-height: 500px;
    width: 100%;
    margin-left: 50px;
    margin-top: 50px;
}

.editor{
    width: 90%;
    margin-left: 30px;
    height: 100%;
    margin-bottom: 50px;
}

.tiny_editor{
    width: 100%;
    height: 300px;
    margin-bottom: 50px;
}

.neumorphism {
    border: none;
    box-shadow: -7px -7px 20px 0 rgba(51, 49, 49, 0.4),
        7px 7px 20px 0 rgba(0, 0, 0, 0.2);
    color: rgb(255, 255, 255);
}

.post_button{
    float: right;
    padding-top: 8px;
    margin: 20px;
    width: 120px;
    height: 30px;
    background-color: #500e8dcc;
    align-content: center;
    text-align: center;
    text-transform: uppercase;
    font-size: 15px;
    font-weight: bolder;
    cursor: pointer;
}

.review_container{
    clear:both;
    width: 80%;
    align-content: center;
    padding-left: 100px;
    margin-top:100px;
    border-radius: 1px; 
}

.review{
  margin-top: 10px;
  margin-right:auto;
  margin-bottom: 10px;
  color: black;
  font-size:14px;
  margin-bottom: 40px;
  background-color: rgb(248, 246, 246);
  border-radius: 10px;
  cursor: default;
}

.reviewer{
    padding-top: 10px;
    font-weight: bolder;
    color: white;
    font-size: 14px;
}

.heart{
    position:relative;
    margin-top:-25px;
    float: right;
    height: 30px;
    width: 30px;
    color:white;
    cursor: pointer;
    
    /* color: rgb(209, 23, 23); */
}

.red_heart{
    color: rgb(233, 21, 21);
}

.review_text{
    padding: 30px;
    line-height: 18px;
}

.likes{
    float:right;
    position:block;
    font-size: 15px;
    font-weight: bold;
    margin-top: -20px;
}

.bottom_container{
    width: 98.25%;
    padding: 10px;
    height: 30px;
    color: white;
    background: #641ba8cc;
    background-image: -webkit-linear-gradient(top, #641ba8cc, #3a0968cc);
    background-image: -moz-linear-gradient(top, #641ba8cc, #3a0968cc);
    background-image: -ms-linear-gradient(top, #641ba8cc, #3a0968cc);
    background-image: -o-linear-gradient(top, #641ba8cc, #3a0968cc);
    background-image: linear-gradient(to bottom, #641ba8cc, #3a0968cc);
}