.page{
    display: block;
    position: absolute;
    margin-top: 100vh;
    padding-top: 2%;
    color:white;
    background: radial-gradient(ellipse at bottom, #3e3d3f 0%, #090a0f 100%);
}

.title{
    text-align: center;
    font-weight: bold;
    font-size: 40px;
}

.heading{
    padding-top: 1%;
    padding-left: 2%;
    font-weight: bold;
    font-size: 20px;
}

.description{
    padding-top: 1%;
    padding-left: 2%;
    padding-right: 2%;
    padding-bottom: 1%;
    white-space: pre-wrap;
}

.char_table{
    font-size: 20px;
    padding: 1%;
}