.body{
    position: absolute;
    color: white;
    background-color: rgb(24, 23, 23);
    right: 0;
    top: 0;
    height: 100%;
    width: 25%;
    overflow: hidden;
    transition: transform 0.5s;
    transform: translateX(100%);
    display: flex;
    flex-direction: column;
}

.advertisement{
    background-color: rgb(0, 0, 0);
    min-height: 15vh;
    width: 98%;
    margin: 4px;
    margin-top: 8px;
}

.discussion_show{
    transform: translateX(0);
}

.header{
    width: 100%;
    min-height: 50px;
    background: #641ba8cc;
    background-image: linear-gradient(to bottom, #641ba8cc, #3a0968cc);
    top: 0;
    left: 0;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    display: flex;
    align-items: center;
    padding: 0px 10px;
    text-align: center;
}
.header h3{
    margin-left: auto;
    margin-right: auto;
    text-transform: uppercase;
}
.back_icon{
    font-size: 20px;
    cursor: pointer;
}

.discussion_container{
    overflow: auto;
    overflow-x: hidden;
    color : black;
    display: flex;
    flex-direction: column;
    padding: 5px;
}

.discussion_container_translate{
    max-height: calc(100vh - 55px - 55px + 2px - 330px);
}

.bubble{
    width: 88%;
    padding: 8px 13px;
    margin: 3px auto;
    border-radius: 10px;
    cursor: default;
    display: flex;
    align-self: flex-start;
}
.message{
    word-break: break-word;
}

.bubble_wrapper{
    width: 100%;
}

.bubble_detail_wrapper{
    display: flex;
    margin-top: 9px;
    flex-direction: column;
}

.name{
    font-size: 15px;
    font-weight: bold;
}

.timestamp{
    margin-left: auto;
    font-size: 11px;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    white-space: nowrap;
}

.receiver_bubble{
    background-color: #6e1bbdcc;
    color: white;
}

.receiver_bubble:hover{
    -webkit-box-shadow: 5px 1px 11px 0px  rgba(110, 27, 189, 0.8);
    -moz-box-shadow:    5px 1px 11px 0px rgba(110, 27, 189, 0.8);
    box-shadow:         5px 1px 11px 0px rgba(110, 27, 189, 0.8);
}

.sender_bubble{
    background-color: white;
}

.sender_bubble:hover{
    -webkit-box-shadow: -3px 1px 11px 0px  rgba(229, 228, 230, 0.8);
    -moz-box-shadow:    -3px 1px 11px 0px rgba(229, 228, 230, 0.8);
    box-shadow:         -3px 1px 11px 0px rgba(229, 228, 230, 0.8);
}

.footer{
    width: 100%;
    max-height: 33px;
    bottom: 0;
    left: 0;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    display: flex;
    align-items: center;
    padding: 4px 0px 10px 0px;
    grid-gap: 5px;
    gap: 5px;
    flex-direction: column;
    transition: 0.5s;
    margin-top: auto;
}

.footer_wrapper{
    display: flex;
    align-items: center;
    width: 100%;
    height: 38px;
}

.footer_translate{
    max-height: 100% !important;
}

.footer_wrapper input{
    height: 100%;
    display: flex;
    flex-grow: 1;
    padding: 0px 15px;
    position: relative;
    border-radius: 18px;
    border: none;
    outline:none;
    font-size: 16px;
    margin-left: 10px;
}
.send_icon,
.emo_selector_icon{
    font-size:20px;
    cursor: pointer;
}
.send_icon{
    margin: 0px 10px 0px 10px;
}
.emo_selector_icon{
    margin: 0px 0px 0px 10px;
}



@media(max-width:1100px){
    .body{
      width: 40% ;
    }
}

@media(max-width:800px){
    .body{
        width: 50% ;
    }
}
@media(max-width:650px){
    .body{
        width: 100% ;
    }
}