
@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.player_wrapper{
    width: 100%;
    height: 100%;
    position: fixed;
}

.player{
    width: 100%;
    height: 100%;
}

.overflow{
    overflow:  hidden !important;
}