.player-wrapper{
    height: 100vh;
    background-color: black;
    animation: fadeInAnimation ease 4s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.player-wrapper:focus{
    outline-color: black;
}

.react-player{
    position:absolute;
    left: 0px;
    top: 0px;
    z-index: -1;
}

.react-player:focus{
    outline-color: black;
}

.btn{
    position: absolute;
    border-radius: 25px;
    background-color: white;
    transform: scale(1.5, 1.5);
}

.btn:hover{
    cursor: pointer;
}

.back-btn{  
    top: 1%;
    left: 2%;
}

.player-header{
    text-align: center;
    padding-top:1%;
    z-index: 3;
    display:relative;
    text-shadow: 0 0 3px #ffffff, 0 0 5px #ffffff;
    
}

.close-button{
    margin-top: -19px;
    margin-left: 97%;
    background: #EE4540;
    box-shadow: 0px 4px 12px rgba(136,18,56,0.15);
    border-radius: 80px;
    width: 20px;
    height: 20px;
    cursor: pointer;
    z-index:3;
}

.close-button:hover{
    background: black;   ;
    box-shadow: 0px 4px 12px rgba(136, 18, 56, 0.15);
    border-radius: 80px;
}

.close-button svg{
    position: absolute;
    display: block;
    left: 50%;
    top: 50%;
    transform-origin: center center;
    transform: translate(-50%,-50%);
    transition: 400ms ease;
}

svg:hover{
    stroke: black; 
}

.close-button:hover svg {
    transform: translate(-50%,-50%) rotate(180deg);
}

.close-button:hover path{
    stroke: #ffffff;
}


.player-header:hover{
    display: block;
}


.comments{
    background-color: brown;
}