.video_player{
    border-radius: 20px;
    top: 30%;
    bottom: 30%;
    left: 30%;
}

.player{
    width: 100%;
    height: 100%;
    position: absolute;
    margin-bottom: 150vh;
}

.sample{
    background-color: purple;
    padding: 5%;
}
