.video_player{
    /* border-radius: 20px;
    top: 0%;
    left: 0%;
    height: 100%;
    width: 100%;
    scroll-behavior: smooth; */
}

.player{
    /* width: 100%;
    height: 100%;
    position: absolute; */
}

.videoPlayer{
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: red;
}

.player_btn{
    font-size: 15px !important;
    display: block !important;
    position: absolute;
    border: 3px solid white !important;
    border-radius: 10px;
    outline: none !important;
    transition: opacity 0.25s linear, transform 0.1s ease-out !important;
    opacity: 1;
    pointer-events: auto;
    cursor: pointer !important;
    width: auto;
    text-transform: uppercase !important;
    font-weight: bold;

}


.skip_intro{
    height: 50px;
    bottom: 81px;
    right: 30px;
    background-color: transparent !important;
    padding: 10px;
}

.skip_intro:hover{
    background-color: #641ba8e0 !important;
}

.back_btn{
    top: 2% !important;
    left: 1% !important;
    width: 80px !important;
    height: 40px !important;
}

.back_btn:hover{
    background-color: #641ba8e0 !important;
}

.discussion{
    top: 83% !important;
    height: 50px !important;
    left: 2% !important;
    margin-left: -10px !important;
    width: fit-content !important;
    padding: 5px 20px !important;
}

.discussion:hover{
    background-color: #641ba8e0 !important;
}

.type {
    top: 2% !important;
    position: absolute;
    left: 90% !important;
    width: 100px !important;
    height: 50px !important;
    cursor: default !important;
    padding: 5px 20px !important;
  }
  
  .green {
    background: #27c019b4 !important;
    width: 120px !important;
    background-image: -webkit-linear-gradient(top, #27c019, #0f7906) !important;
    background-image: -moz-linear-gradient(top, #27c019, #0f7906) !important;
    background-image: -ms-linear-gradient(top, #27c019, #0f7906) !important;
    background-image: -o-linear-gradient(top, #27c019, #0f7906) !important;
    background-image: linear-gradient(to bottom, #27c019b4, #0f7906) !important;
  }
  
  .red {
    background: #f04949 !important;
    font-weight: bolder !important;
    height: 40px !important;
    background-image: -webkit-linear-gradient(top, #f04949, #c70b0b) !important;
    background-image: -moz-linear-gradient(top, #f04949, #a73012) !important;
    background-image: -ms-linear-gradient(top, #f04949, #a73012) !important;
    background-image: -o-linear-gradient(top, #f04949, #a73012) !important;
    background-image: linear-gradient(to bottom, #f04949, #c70b0b) !important;
  }
  
  .orange {
    background: #f0a32f !important;
    width: 120px !important;
    background-image: -webkit-linear-gradient(top, #f0a32f, #e08803) !important;
    background-image: -moz-linear-gradient(top, #f0a32f, #e08803) !important;
    background-image: -ms-linear-gradient(top, #f0a32f, #e08803) !important;
    background-image: -o-linear-gradient(top, #f0a32f, #e08803) !important;
    background-image: linear-gradient(to bottom, #f0a32f, #e08803) !important;
  }
  