.body{
    display: flex;
    justify-content:center;
    align-items: center;
    flex-direction: column;
}

.banner{
    height: 28vh;
    width: 80%;
    color: white;
    background-color: rgb(182, 182, 241);
    background-image: radial-gradient(ellipse at center,#8627dfa9, black 100%);
}

.user_img{
    border-radius: 50%;
    width: 12%;
    position: absolute;
    top: 14vh;
    left: 12vw;
    z-index: 1;
}

.user_name{
    position: absolute;
    top: 31vh;
    left: 26vw;
}

.nav{
    display: flex;
    flex-direction: row;
    color: white;
    margin-top: 13vh;
    background-color: rgba(255, 255, 255, 0.02);
    box-shadow :0 0 15px 2px rgba(0, 0, 0, 0.5);
    width: 79%;
    height: 7vh;
    align-items: center;
    overflow-x: auto;
    overflow-y: hidden;
}

.nav::-webkit-scrollbar {
    display: none;
}

.nav_field_item{
    white-space: nowrap;
    padding: 15px 20px;
    color: #ffff;
    border-radius: 10px;
    margin-right: 10px;
    cursor:pointer;
}

.nav_field_item:hover{
    box-shadow: -12px -7px 20px 0 rgba(38, 36, 39, 0.4),
    7px 3px 9px 0 rgba(136, 81, 238, 0.6);
}

.neumorphism{
    padding: 15px 10px;
    border: none;
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1px;
    box-shadow: -7px -7px 20px 0 rgba(51, 49, 49, 0.4),
    7px 7px 20px 0 rgba(0, 0, 0, 0.2);
    color: rgb(187, 185, 185);
}

.active{
    box-shadow: -12px -7px 20px 0 rgba(38, 36, 39, 0.4),
            7px 3px 9px 0 rgba(136, 81, 238, 0.6);
}