@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans&display=swap');

.sign_up_form {
    width: 100%;
    padding: 3em;
    box-sizing: border-box;
    overflow-y: scroll;
}

p.sign_in_p {
    color: #eee;
    font-size: 13px;
    text-align: center;
    margin-top: 2em;
    cursor: pointer;
}

.sign_in {
    color: white;
    text-decoration: none;
}

.sign_in:hover {
    text-decoration: underline;
}
.check_para{
    color: #eee;
    font-size: 13px;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}
.checkbox{
    padding-left: 5px;
    text-align: left;
}

.tandc{
    color: white;
    cursor: pointer;
    text-decoration: none;
}
.tandc:hover{
    text-decoration: underline;
}

/* -------------------------------------------------------------------------- */
/*                              RESPONSIVE MEDIA                              */
/* -------------------------------------------------------------------------- */

@media(max-width:480px) {
    .sign_up_form {
        margin: 0 3vw;
        margin-top: 5%;
        margin-left: 1%;
    }

    .sign_in {
        color: #641ba8cc;
    }
}
