@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans&display=swap');
.sign-up-form {
    background: rgba(0, 0, 0, 0.4117647058823529);
    max-width: 500px;
    margin: 0 auto;
    padding: 3em;
    border-radius: 10px;
    box-sizing: border-box;
    margin-top: 3%;
    margin-left: 11%;
}

.group {
    display: flex;
    padding: 10px 5px;
    background-color: #ffffff;
}

.group i {
    color: #c422d3;
    font-size: 20px;
    padding: 0 10px;
}

.inputField {
    font-family: 'Balsamiq Sans', cursive;
    font-size: 17px;
    width: 100%;
    border: none;
    box-sizing: border-box;
    background: transparent;
    color: #000;
    padding-left: 10px;
}

.inputField:focus {
    outline: none;
}

p.sign-in-p {
    color: #eee;
    font-size: 13px;
    text-align: center;
    margin-top: 2em;
}

.sign-in {
    color: white;
    text-decoration: none;
}
.sign-in:hover{
    text-decoration: underline;
}

@media(max-width:480px) {
    .sign-up-form {
        margin: 0 3vw;
        margin-top: 5%;
        margin-left: 1%;
    }
    .sign-in{
        color: #8a0edd;
    }
}

