.filterBar{
    height: auto;
    margin-top: 10%;
    margin-left: 5%;
    width: 1000px;
    backdrop-filter: blur(15px);
    text-transform: uppercase;
    animation: slide-in-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

.container{
    padding: 1%;
    padding-top: 0%;
    margin-top: -7px;
}

.neumorphism {
    padding: 15px 10px;
    border: none;
    font-size: 12px;
    letter-spacing: 2px;
    box-shadow: -7px -7px 20px 0 rgba(51, 49, 49, 0.4),7px 7px 20px 0 rgba(0, 0, 0, 0.8);
    color: rgb(187, 185, 185);
}
.make_flex{
    display: flex;
}

.filter_row{
    padding-top: 8px;
}
.filter_row_wrapper{
    display: block;
    padding: 1%;
}
.filter_button{
    margin-left:1.5%;
    margin-top: 1.5%;
    background: transparent;
    font-size: 15px;
    outline: none;
    color: #ffffff;
    text-transform: capitalize;
    border-radius: 10px;
    border: none ;
    padding: 3px 10px;
    text-align: center;
}

.filter_button_active{
    border: none;
    background-color:#4f108a ;
}
.left_filter_column{
    width: 500px;
}

.right_filter_column{
    width: 50%;
}
.genre{
    padding : 5px 6px;
    margin-top: 15px;
}

.filter_submit_button{
    margin-left: 83%;
    width: 13%;
    height: 4vh;
    border-radius: 3%;
}

